#helpModal.modal.fade{role: "dialog", 'aria-hidden' => true}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: :button, class: %w{close}, 'data-dismiss' => :modal}
          %span{'aria-hidden' => true}=raw('&times;')
          %span.sr-only Close

        %h4.modal-title Board Usage Instructions
      .modal-body
        %form.form{role: :form}
          .form-group
            %label{for: :url} Public URL
            %input.form-control{name: :url, value: "#{board_url(@board)}"}

            %h1 API request example
            %p Create request like this in your terminal.
            %textarea.form-control{rows: 6}= example_command_for_bulk_create(@board)

- if @show_help
  :javascript
    $('#helpModal').modal('show');
