#board-chart, #board-tables {
  display: block;
  position: relative;
}

#board-chart {
  @include filter-gradient($aloo_color_chartbg, $aloo_color_chartbg_2, vertical);
  @include background-image(linear-gradient(top,  $aloo_color_chartbg 0%, $aloo_color_chartbg_2 80%));
  position: relative;

  #titlebar, #tabsbar{
    display: block;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
  }
  #titlebar {
    top: 0px;
  }
  #tabsbar {
    bottom: 0px;
  }
  .container {
    color: white;
    a{ color: white; }
  }

  #tabs-wrap {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

    li.active a{ color: black; }
    .nav-tabs{ border: none; }
    .nav-tabs > li, .nav-pills > li {
        float:none;
        display:inline-block;
        *display:inline;
        zoom:1;
        border-bottom: none;
        border: none;
        a{
          border-bottom: none;
          border: none;
          background-color: #fff;
          color: #CCC;
          &:hover {
            color: #666;
          }
        }
        &.active a {
          color: #000;
        }
    }
    .nav-tabs, .nav-pills {
      text-align: center;
    }
  }

  #charts {
    display: block;
    width: 100%;
    height: 410px;
  }

  #charts .wrap {
    display: block;
    width: 98%;
    margin: 0px auto;
    height: 400px;
    overflow: hidden;

    canvas {
      width: 100%;
      padding: 0px;
      margin: 0px;
      display: none;
      height: 400px;

      &.visible {
        display: block;
      }
    }
  }

}

#quartersChart {
}

#board-tables {
}
