%footer#footer
  .row
    %p.text-center
      This project was built in 48 hours by
      =link_to "Oto Brglez", "https://twitter.com/otobrglez"
      for RailsRumble 2014.

= render 'layouts/rumble_bottom'
