<!-- Place this before your </body> tag. -->
<script type="text/javascript">
  var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
  rumbleBannerBackgroundColor = "rgba(215, 44, 44, 0.4)";
  rumbleBannerTextColor = "#000000";
  rumbleBannerLinkColor = "#FF0000";
  rumbleBannerPlacement = "bottom"; // Optionally replace with "bottom".
</script>
<script src="https://d4nnn7wspfa3h.cloudfront.net/banner-2014.js" type="text/javascript"></script>

<style>
  div#rumble2014 {
    width: 50%;
    margin: 0px auto;
  }
</style>
